# Node
node_modules/
npm-debug.log
yarn-error.log

# CDK
cdk.out/
cdk.context.json

# AWS
.aws/
*.pem
*.key

# Environment files
.env
.env.*
*.local

# macOS
.DS_Store

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/
