# -----------------------
# Node / JS
# -----------------------
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
yarn-error.log*
*.log

# -----------------------
# Expo / React Native
# -----------------------
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/
mobile/.env
mobile/.env.*
mobile/*.local
mobile/ios/
mobile/android/

# -----------------------
# CDK / AWS
# -----------------------
infra/node_modules/
infra/cdk.out/
infra/cdk.context.json
infra/*.local

# -----------------------
# Environment / Secrets
# -----------------------
.env
.env.*
*.pem
*.key
.aws/

# -----------------------
# OS / IDE
# -----------------------
.DS_Store
.vscode/
.idea/
